<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .section-main{
            border: 2px solid rgb(109, 107, 107);
            margin: 1rem;
            padding: 1rem;
        }
        .images{
            display: flex;
            justify-content:space-between
            ;
        }
        .table{
            border-collapse:separate;
            
        }
    </style>
  </head>
  <body>
<!-- ---------------------------- table 1 ----------------------------------------- -->
<section class="section-main">
  <center>
    <p>

      Course Registration form  
    </p>
  </center>

  <table class="table table-bordered">
    <tbody>
           <!-- <thead>
            <tr>

                <th>
                    Course Registration form
                </th>
            </tr>
           </thead> -->



</tr>

<hr>
<tr >
<div class="images">
    <figure >
        <img src="../src//assets/images/nielit.png" alt="" >
      
    </figure>
 
</div>
       
</tr>
<hr>
</tbody>
</table>

<!-- ---------------------------- table 2 ----------------------------------------- -->

   <table class="table table-bordered">
    <tbody>
    <thead>
        <tr>

       
        <th scope="col">Application No</th>
        <th scope="col">Course </th>
        <th scope="col">batch id</th>
        <th scope="col">Center</th>
    </tr>
    </thead>


<tr>
 <td>CRRN15985</td>
 <td>Web development</td>
 <td>20233junweb</td>
 <td rowspan="">NHW</td>

</tr>
</tbody>
</table>

<!-- ---------------------------- table 3 ----------------------------------------- -->
<center>
    <h4 >Application Fee Details</h4>     
</center>

 <table class="table table-bordered">

 <tbody>

<thead>
    <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Transaction ID </th>
        <th scope="col">Mode of Payment</th>
        <th scope="col">Amount</th>
        <th scope="col">Date
        </th>
        
    </tr>
</thead>


<tr>
 <td>CRRN15985</td>
 <td>346hhb32</td>
 <td>online</td>
 <td>5000</td>
 <td>2023-08-12 12:57:42  </td>
</tr>
</tbody>
</table>

<!-- ---------------------------- table 3 ----------------------------------------- -->

<table class="table table-bordered"  >

 
          <tbody >
            <tr>
                <center>

                    <th scope="row" colSpan="5" >Candidate Details</th> 
                </center>
            </tr>

            <tr >
              <th scope="row">Candidate Name</th>
              <td>detail.userData.name</td>
     <td  rowspan="6" >
         
         
                <center class="d-flex flex-column">
              

                        <img src="../src//assets/images/photo.jpg" alt="" class="my-2 p-0 m-0" style="width: 10rem;">

             
            </center>
         
     </td>
            </tr>


            <tr>
              <th scope="row">Father's Name</th>
              <td>detail.userData.father</td>
            </tr>

            <tr>
              <th scope="row">Mother Name</th>
              <td>detail.userData.mothe}</td>
            </tr>

            <tr>
              <th scope="row">Gender</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Date of Birth</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Email</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Marital Status</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Mobile No.</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Watsapp No.</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Religion</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Category</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">PWD</th>
              <td></td>
            </tr>
            
            <tr>
              <th scope="row">EWS</th>
              <td></td>
            </tr>
            
            <tr>
              <th scope="row">Permanent Address</th>
              <td></td>
            </tr>

            <tr>
              <th scope="row">Correspond Address</th>
              <td></td>
            </tr>
          </tbody>
    
    
</table>
<center>

    <h2>Educational Qualification</h2>
</center>


<table class="table table-bordered">

    <tbody>
   
   <thead>
       <tr>
           <th scope="col">Examination </th>
           <th scope="col">School Name</th>
           <th scope="col">Board</th>
           <th scope="col">Year of
            Passing  </th>
           <th scope="col">Percentage</th>
           <th scope="col">Division
        </th>
           
        
           
       </tr>
   </thead>
   
   
   <tr>
    <th>10th/SSC/Matric </th>
    <td>St Johns sen sec school</td>
    <td>CBSE</td>
    <td>2017</td>
    <td>70</td>
    <td>first</td>
   </tr>

   <tr>
    <th>12th/Diploma </th>
    <td>St Johns sen sec school</td>
    <td>CBSE</td>
    <td>2017</td>
    <td>70</td>
    <td>first</td>
   </tr>

   

   </tbody>
   </table>
   <center>

    <h2>Graduation Details</h2>
</center>

<table class="table table-bordered">

    <tbody>
   
   <thead>
       <tr>
           <th scope="col"> Degree Name</th>
           <th scope="col">University/Institution
        </th>
           <th scope="col">Percentage/Grade </th>
           <th scope="col">Year of passing</th>
           <th scope="col">State/Union
            Territor
        </th>
        <th scope="col">Country
        </th>
           
        
           
       </tr>
   </thead>
   
   
   <tr>
    <th>1 B.TECH</th>
    <td>Veer Madho Singh
        Bhandari
        Uttarakhand
        Technical
        University,
        Dehradun, India</td>
        <td>70</td>
        <td>2017</td>
    <td>Uttarakhand</td>
    <td>India</td>
  
   </tr>


   

   </tbody>
   
   </table>
   <hr>
   <div class="ro">
    <div class="">

    
       <h4>Declaration</h4>
       <p>
           I declare that the statements made in this Application Form are correct and true and also complete to the best of my knowledge
   and belief. I am aware that if at any stage it is found that the statements made are not true or are incomplete/misleading, my
   candidature is liable to be cancelled
       </p>
    </div>
    <div class="">
        <img src="../src//assets/images/sign.png" alt="" style="width: 12rem; height: 9rem;" >

    </div>
   </div>
</section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>