*{
    font-family: 'REM', sans-serif;
  
}

:root {
    --primary: #01324f;;
    --secondary:  #135b85;;
    --RedColor: #d84b4b;
  }

.logo1-nav img{

    width: 15rem;
    height: 7rem;

}


.logo2-nav img{

    width: 8rem;
    height: 7rem;
    
}
.footer{
    background-color: var(--primary);
    bottom:0;
     
}

.nav{
background-color: var(--primary);
    
}

.mandatory::after{
content: '*';
color: #ff0000;
}
.logoSize{
    width: 3rem;
    height: 3rem;
}

.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.signup-login-div{


    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
   
}
.signup-login-div .nielitLogo{
    width: 11rem;

}
.signup-login-div .images-div{
    background-color: antiquewhite  ;
}
.signup-login-div form{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;
}



/* dasbboard css ------------/////////////////////////////// */

.nav-link:hover{
    background-color: #4f2001;

    transition: .8s;
}

input[type]{
    background-color: rgb(236, 236, 236);
}

.form-select{
    background-color: rgb(236, 236, 236);

}
