*{
    font-family: 'REM', sans-serif;
   
}


.logo1-nav img{

    width: 15rem;
    height: 7rem;

}


.logo2-nav img{

    width: 8rem;
    height: 7rem;
    
}
.footer{
    bottom: 0;
}
.header{
    /* background-color: rgb(102, 102, 226); */
}
.nav{
    background-color: rgb(34, 34, 51);
}


.logoSize{
    width: 3rem;
    height: 3rem;
}

.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.signup-login-div{


    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
   
}
.signup-login-div .nielitLogo{
    width: 11rem;

}
.signup-login-div .images-div{
    background-color: antiquewhite  ;
}
.signup-login-div form{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;
}