.logo1-nav img{
    /* width: 1rem; */
    /* background-color: antiquewhite; */
    width: 15rem;
    height: 7rem;

}


.logo2-nav img{
    /* background-color: rgb(70, 133, 189); */
    width: 8rem;
    height: 7rem;
    
}

.header{
    background-color: rgb(102, 102, 226);
}
.nav{
    background-color: rgb(53, 158, 114);
}

.logoSize{
    width: 3rem;
    height: 3rem;
}

.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.signup-login-div{


    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
   
}
.signup-login-div .nielitLogo{
    width: 11rem;

}
.signup-login-div .images-div{
    background-color: antiquewhite  ;
}
.signup-login-div form{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;
}